*{margin: 0;
  padding: 0;}

body{
	background-color: #f6f7fb;
	/* min-width: 1360px; */
	height: auto;
	background-color: #f6f7fb;
}

.center{
	width: 1400px;
	margin: 0 auto;
	position: relative;
}
/* #0d5dc9;透明条颜色 */ 



/* 透明条 */
.top{
	width: 100%;
	background:#A10000;
	opacity: .8;
	height: 90px;
/* 	top: 15px; */
/* 	left: 50%;
	margin-left: -650px; */
	border-radius: 2px;
	z-index: 0;
}

.top .logo{
	width:300px;
	/* margin: 22px 0; */
	margin-left: 40px;
	height: 83px;
	line-height: 83px;
}

.top .nev{
	float: right;
	height: 90px;
	margin-right: 20px;
}
.top .nev a{
	width: 130px;
	display: inline-block;
	float: left;
	text-align: center;
	line-height: 90px;
	font-size: 18px;
	color: #f5f5f5;
	position: relative;
	text-decoration: none;
}

.top .nev a i{
	font-size: 20px;
}

.top .nev a:hover{
	background-color: rgb(100,0,0,.8);
	transition: background-color 1s;
}



/* 背景轮播图及数字轮播 */
.bgdt{
	width: 1400px;
	height: 600px;
	/* background-image: url(../img/99e97dbf-94fb-4673-b9f9-f44bb1338433.jpg); */
	overflow: hidden;
	margin: -130px auto;

	position: relative;
}

.bgdt ul{
	width: 4200px;
	list-style: none;
}
/* @keyframes run{
	0%{transform: translate(0px);}
	10%{transform: translate(-1400px);}
	33%{transform: translate(-1400px);}
	43%{transform: translate(-2800px);}
	66%{transform: translate(-2800px);}
	76%{transform: translate(-4200px);}
	100%{transform: translate(-4200px);}
} */
.bgdt ul li,.bgdt2 ul li{
	float: left;
}
.bgdt img{
	width: 1400px;
	height: 437.5px;
}
#wrap ol{
	position: absolute;
	right: 100px;
	bottom: 200px;
}
#wrap ol li{height:40px; width: 40px;
 line-height: 40px;
 list-style: none;
 border-radius: 50%;
 background:#ccc;
 margin-left:10px;
 color:#000;
 float:left;
 line-height:center;
 text-align:center;
 cursor:pointer;}
#wrap ol .on{background:#A10000;
 color:#fff;}
.bgdt ul li .img{
/* 	position: absolute;
	left: 50%;
	margin-left: -700px; */
	width: 1400px;	
	height: 437.5px;
}



/* 选项卡及框架 */
.tab{
	display: block;
	width: 1400px;
	height: 400px;
	margin: 0 auto;
/* 	position: relative;
	top: calc(100vh - 700px); */
}

/* 选项卡 */
.tab .zuo{
	margin-right: ;
	float: left;
	width: 780px;
	height: 380px;
	
	font-size: 0;
}

.tab .zuo .piclist{
	height: 340px;
	background-image: url(../img/xx1.jpg);
}

.tab .zuo span{
	display: inline-block;
	box-sizing: border-box;
	width: 130px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #424242;
	background-color: #e3e2e2;
	font-size: 16px;
	font-family: 微软雅黑;
	border-top:4px solid #e3e2e2;

}
.tab .zuo span:hover{
	border-top: 4px solid #A10000;
	background-color: #eee;
	color: #ab8e66;
}
.tab .zuo span:nth-child(2):hover~.piclist{
	background-image: url(../img/xx2.jpg);
}
.tab .zuo span:nth-child(3):hover~.piclist{
	background-image: url(../img/xx3.jpg);
}
.tab .zuo span:nth-child(4):hover~.piclist{
	background-image: url(../img/xx4.jpg);
}
.tab .zuo span:nth-child(5):hover~.piclist{
	background-image: url(../img/xx5.jpg);
}
.tab .zuo span:nth-child(6):hover~.piclist{
	background-image: url(../img/xx6.jpg);
}
.tab .zuo span a{
	text-decoration: none;
	color: #424242;
}


/* 红色故事 */
.tab .you{
	float: left;
	margin-left: 30px;
	width: 500px;
}
.title{
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-left: 4px #A10000 solid;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 22px;
	font-size: 22px;
	color: #272a2c;
	text-indent: 15px;
}
.tab .you ul{
	margin-left: 15px;
	width: 573px;
	height: 350px;
}
.tab .you ul li{
	list-style:square;
	color: #ccc;
	line-height: 43px;
	height: 43px;
}
.tab .you ul li a{
	display: inline-block;
	text-decoration: none;
	float: left;
	width: calc(100% - 110px);
	font-size: 16px;
	line-height: 43px;
	color: #777;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* .tab .you ul li a:hover{
	color: #cc3300;
	transition: color 1s; 
} */
.tab .you ul li span{
	float: right;
	font-size: 13px;
	width: 80px;
	text-align: right;
	color: #727272;
	line-height: 43px;
	height: 43px;
}



/* 红色纪念地 */
.nzzyfwxt{
	display: block;
	width: 100%;
}
.nzzyfwxt ul{
	margin-left: 7px;
	margin-top:20px ;
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.nzzyfwxt ul li{
	width: calc((100%-60px) / 4);
	margin-left: -5px;
	margin-right: 70px;
}
.nzzyfwxt ul li img{
	width: 300px;
	height: 200px;
}	

.nzzyfwxt ul li a .hover{
	position: absolute;
	top: -184px;
	width: 300px;
	height: 200px;
	color: #fff;
	/* opacity: 0; */
	background-color: #000000;
	/* background-color: rgba(50,50,50,.8); */
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
.nzzyfwxt .hover{
	display: none;
	width: 300px;
	height: 200px;
	text-align: center;
	line-height: 200px;

}
/* .nzzyfwxt ul li a:hover .hover{
	opacity: 1;
	transition: opacity 1s; 
} */
.nzzyfwxt ul li:hover img{

}
.nzzyfwxt ul li a{
	text-decoration: none;	
	position: relative;
	overflow: hidden;
}
.nzzyfwxt ul li a p{
	color: #f5f7f6;
	margin-top: -6px;
	background-color: #aaa;
	text-align: center;
	height: 30px;
	line-height: 30px;
	width: 300px;
}
.nzzyfwxt ul li a:hover p{
	background-color: #777;
	transition:background-color 1s; 
}




/* 红色旅游信息 */
.nzzyfwxx{
	display: block;
	width: 100%;
	height: auto;
	margin-top: 30px;	
}
.nzzyfwxx ul{
	margin-top:20px ;
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-between;
	border: 1px solid #ccc;
	border-radius: 1px;
	background-color: #eee;
	height: 100px;
}
.nzzyfwxx ul li{
	height: 100px;
	margin-top: 10px;
	width: calc(100% / 5);
/* 	line-height: 100px; */
}
.nzzyfwxx ul li:hover i,.nzzyfwxx ul li:hover p{
	color: #000000;
	transition: color 1s; 
}
.nzzyfwxx ul li a{
	text-decoration: none;
	color: #A10000;
}
.nzzyfwxx ul li a i{
	text-align: center;
	display: block;
	font-size: 40px;
}
.nzzyfwxx ul li a p{
	text-align: center;
}
.nzzyfwxx ul li em{
	display: block;
	text-align: center;
	font-size: 12px;
	opacity: 0.4;
}



/* 横幅 */
.hf{border-radius: 1px;
	margin-top: 40px;
	margin: 40px auto;
	width: 1400px;
	height:150px;
	background: url(../img/hf1.jpg);
}



/* 底部 */
.dibu{
	margin: 40px auto;
	margin-bottom: 0px;
	background-color: #aaa;
	width: 100%;
	height: 250px;
	position: relative;
}
.dibu .logo{
	width:300px;
	height: 83px;
	position: absolute;
	left: 150px;
	top:50%;
	margin-top:-41.5px;
	transition:transform 5s;
}
.dibu .ewm{
	position: absolute;
	right: 70px;
	top: 50%;
	margin-top: -10px;
	
}
.dibu img:hover{
	transform: rotateY(360deg);
}
.dibu .span,.dibu .span1,.dibu .span2{
	width: 600px;
	font-size: 14px;
	font-family:"microsoft yahei" ;
	color: #fff;
	position: absolute;
}
.dibu .span{
	top: 90px;
	left: 50%;
	margin-left: -200px;
}
.dibu .span1{
	opacity: .5;
	width: auto;
	right: 50px;
	bottom:10px;
}
.dibu .span2{
	top:140px;
	left: 50%;
	margin-left: -200px;
}
.dibu .span2 a{
	color: #fff;
	text-decoration: none;
}
.dibu .span2 a:hover{
	text-decoration: underline;
}